.a{
    color:antiquewhite;
    background-color: aquamarine;
    text-align: center;
    width:max-content;
    height:max-content;
    font-family: Georgia, 'Times New Roman', Times, serif;
    

}